table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
}
th{
    background-color:#8d99ae;
}
td{
    background-color:#00b4d8 ;
}